body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #16171b;
  color: rgb(248, 248, 248);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form input:focus {
  outline: none; /* remove o contorno padrão */
  border: 1px solid #237bff; /* ou qualquer cor que quiser */
  box-shadow: 0 0 0 2px rgba(35, 123, 255, 0.3); /* opcional: efeito de foco suave */
}
.card {
  width: 400px;
  padding: 40px;
  border-radius: 20px;
  background: linear-gradient(180deg, #1c1d23 70%, #16181c 100%);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05);
  text-align: center;
}
.icon-wrapper img {
  width: 80px;
  height: 80px;
}
.icon-wrapper {
  background-color: #0f0f10;
  width: 64px;
  height: 64px;
  margin: 0 auto 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
  margin-top: 34px;
  margin-bottom: 34px;
  font-size: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 35px;
  text-align: left;
}

.campo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 35px;
  text-align: left;
}

.form label {
  font-size: 16px;
}

.form input {
  height: 52px;
  border-radius: 10px;
  border: none;
  padding: 0 16px;
  background: #1a1b1e;
  color: white;
  font-size: 16px;
}

.form input::placeholder {
  color: #6f6f72;
}

.botao-wrapper {
  padding: 1px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.02)
  );
  border-radius: 15px;
}

.botao-wrapper button {
  width: 100%;
  height: 64px;
  border: none;
  border-radius: 15px;
  background-color: #237bff;
  color: white;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.botao-wrapper button:hover {
  background-color: #3c89fd;
}

.result-popup{
  color:rgb(0, 255, 170)
}
